<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skincare Quiz</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    {% extends 'layout.html' %}
    {% block content %}
    <div>
    <h1>{{ user[1] }}'s Dashboard</h1>
    <h1>Skincare Quiz</h1>
    <!-- <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        This is an alert box.
    </div> -->
    <form action="quiz.html" method="POST">
        <label for="skin_type">Skin Type:</label><br>
        <input type="text" id="skin_type" name="skin_type" required><br><br>
        <label for="concerns">Concerns:</label><br>
        <input type="text" id="concerns" name="concerns" required><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</div>
{% endblock %}

</html>
